#my-map {
  width: 100%;
  height: 500px;
  margin-right: 20px;
}
#map-container{
  display: flex;
  flex-direction: row;
  margin: 20px 50px 30px 50px;
}

#tooltip {
  position: absolute;
  opacity: 0;
  background: #fff;
  box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
}
.tooltip-label {
  font-weight: 500;
  font-size: 10px;
  color: #888;
}

#nonmap-container{
  display: flex;
  flex-direction: row;
  margin: 0 50px 0 50px;

}
#timeline-container{
  flex: 0 0 80%;
  width: 100%;
  height: 150px;
}

#side-filter-container{
  flex: 0 0 20%;
  background-color: green;

}